<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Casual Dota 2 Leagues">
    <link rel="icon" href="/images/justRobo_BG.png">


    <title>Wecasual</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Custom CSS and fonts -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/	main.css" />
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

  </head>
  <body style = "font-family: 'Questrial', sans-serif">

    <!-- Header nav-->
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #555;">
      <a class="navbar-brand" href="/">
        <img src="/images/justRobo_BG.svg" width="42" height="42" alt="" >
          <span class = "align-bottom px-1"> Wecasual </span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">


        <ul class="navbar-nav ml-auto">
          <!-- Steam login -->
          <% if(!user){ %>
            <li class="nav-item">
              <a class="nav-link rounded px-3" href="auth/steam">
                <img src="/images/steam_logo.png" width="42" height="42" alt="">
                <span>Sign in</span>
              </a>
            </li>
          <% }
          else{ %>
            <li class="nav-item">
              <a class="nav-link rounded px-3" href="/about">
                <span class="mr-3"><%= user.steamInfo.displayName %></span>
                <img class="rounded-circle" src= <%= user.steamInfo._json.avatar %> >
              </a>
            </li>
            <li class="nav-item align-bottom">
              <a class="nav-link rounded px-3 mt-1" href="logout">
                <span>Logout</span>
              </a>
            </li>

         <%} %>


          <!--Navbar Buttons
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          -->
        </ul>

        <!-- Search bar
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->

      </div>

    </nav>
