<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Casual Dota 2 Leagues">
    <link rel="icon" href="/images/justRobo_BG.png">


    <title>Wecasual</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Custom CSS and fonts -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/	main.css" />
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

  </head>
  <body style = "font-family: 'Questrial', sans-serif">

    <!-- Header nav-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #555;">
      <a class="navbar-brand nav-link rounded" href="/">
        <img src="/images/justRobo_BG.svg" width="44" height="44" alt="" >
          <span class = "align-middle p-2">Wecasual</span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <!--Navbar Buttons-->
          <li class="nav-item dropdown">
            <a class="rounded nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              League
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="nav-link rounded" href="/league-info">Info</a>
              <a class="nav-link rounded" href="/players">Players</a>
              <a class="nav-link rounded" href="/teams">Teams</a>
              <a class="nav-link rounded" href="/schedule">Schedule</a>
            </div>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link rounded" href="/pick-up-games">Pick-up Games</a>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link rounded" href="/about">About</a>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link rounded" href="/rules">Rules</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">



          <!-- Steam login -->
          <% if(!user){ %>
            <li class="nav-item">
              <a class="nav-link rounded px-1" href="auth/steam">
                <img src="/images/steam_logo.png" width="42" height="42" alt="">
                <span>Sign in</span>
              </a>
            </li>
          <% }
          else{ %>
            <li class="nav-item">
              <a class="nav-link rounded px-1" href="/profile">
                <span class="mr-3"><%= user.steaminfo.displayName %></span>
                <img class="rounded-circle" src= <%= user.steaminfo._json.avatar %> >
              </a>
            </li>
            <li class="nav-item align-middle">
              <a class="nav-link rounded px-1" href="logout">
                <span>Logout</span>
              </a>
            </li>

         <%} %>

        </ul>

        <!-- Search bar
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->

      </div>

    </nav>
