<!-- Header nav-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top mr-0">

  <% if(!realm){ %>
    <a class="navbar-brand nav-link rounded mr-0 mt-1 px-1" href="/">
      <span>
        <img alt="Wecasual logo small" width="44" height="44" src="/images/Wecasual-logo-regular-128x128.png">
      </span>
      <span class = "align-middle">Wecasual</span>
    </a>
  <%} else if(realm == 'dota'){ %>
    <a class="navbar-brand nav-link rounded mr-0 mt-1 px-1" href="/">
      <span>
        <img alt="Wecasual logo dota small" width="44" height="44" src="/images/Wecasual-logo-dota-128x128.png">
      </span>
      <span class = "align-middle">Wecasual</span>
    </a>

<%  } else if(realm == 'lol') { %>
  <a class="navbar-brand nav-link rounded mr-0 mt-1 px-1" href="/">
    <span>
      <img alt="Wecasual logo lol small" width="44" height="44" src="/images/Wecasual-logo-lol-128x128.png">
    </span>
    <span class = "align-middle">Wecasual</span>
  </a>

<%}%>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="ml-3 collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto mt-0">

      <li class="nav-item dropdown mt-0">
        <a class="rounded nav-link " href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/images/Dota_2_Logo_only.png" alt= "Dota logo just icon" width="44" height="44" ><span class="down-caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="nav-link rounded" href="/dota">Home</a>
            <a class="nav-link rounded" href="/dota/players">Players</a>
            <a class="nav-link rounded" href="/dota/teams">Teams</a>
        </div>
      </li>

      <li class="nav-item px-1">
        <a class="nav-link rounded" href="/about">About</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link rounded" href="/FAQ">FAQ</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link rounded" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link rounded" href="/blog">Blog</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto mt-0">
      <!-- Steam login -->
      <% if(!user){ %>
        <li class="nav-item">
          <a class="nav-link rounded px-1" href="/auth/discord">
            <span>
              <img alt="discord-image" width="34" height="40" src="/images/discord-logo.png">
            </span>
          <span>Sign in</span>
          </a>
        </li>
      <% } else{ %>
        <!-- <li class="nav-item mt-0">
          <a class="nav-link rounded" href="/dota">
            <img src="/images/Dota_2_Logo_only.png" alt= "Dota logo just icon" width="44" height="44" >
          </a>
        </li> -->
        <!-- <li class="nav-item mt-1 mr-3">
          <a class="nav-link rounded" href="/lol">
            <img src="/images/League-of-Legends-Logo-Transparent-Background.png" alt= "League of Legends logo small" width="96" height="40" >
          </a>
        </li> -->

        <li class="nav-item align-middle">
          <a class="nav-link rounded px-1" href="/logout">
            <span><img height="30" width="30" class = "rounded-circle" src='<%= user['Avatar'] %>' alt='Your Avatar Image' /></span>
            <span class = "align-middle">Logout</span>

          </a>
        </li>
     <%} %>
    </ul>

  </div>

</nav>
