<!-- GAME SIGNUP -->
<div class="card rounded">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a class="pink-btn btn btn-primary mb-2 dropdown" href="#yourChallenges" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
        <h4 class = "mb-0">Your Challenges<span class="down-caret"></span></h4>
      </a>
      <div class="collapse card-body" id="yourChallenges">
      </div>
    </li>
  </ul>
</div>

<!-- TAKE A CHALLENGE -->
<div class="card rounded mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a class="pink-btn btn btn-primary mb-2 dropdown" href="#takeAChallenge" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
        <h4 class = "mb-0">Take a Challenge<span class="down-caret"></span></h4>
      </a>
      <div class="collapse card-body" id="takeAChallenge">

      </div>
    </li>
  </ul>
</div>

<!-- COMPLETED CHALLENGES -->
<div class="card rounded mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a class="pink-btn btn btn-primary mb-2 dropdown" href="#completedChallenges" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
        <h4 class = "mb-0">Completed Challenges<span class="down-caret"></span></h4>
      </a>
      <div class="collapse card-body" id="completedChallenges">

      </div>
    </li>
  </ul>
</div>
<script src="../../scripts/challenges.js"></script>
