<!--YOUR CHALLENGES -->
<div class="challenge-info-opacity" id="challenge-opacity"></div>
<div class="card rounded challenge-info p-2 text-center" id="challenge-info">
  <h5 class="mt-2" id="challenge-name"></h5>
  <div class="mt-3 p-2 rounded text-left" id="challenge-desc"></div>
  <div class="mt-3" id="challenge-reward"></div>
  <div class="mt-3" id="challenge-expiry"></div>
  <div id="challenge-actions"></div>
  <div id="challenge-complete-form-container">
    <hr>
    <p>Input the match id for the match the challenge was completed in<br>The match id can be found in the match overview</p>
    <form id="challenge-complete-form" method="post" action="/challenge/completeChallenge">
      <div class="form-group ">
        <!-- <input type="text" name="matchid" placeholder="Match id" id="matchid"> -->
        <select name="challengeGame" id="challenge-game">


        </select>
      </div>
      <div class="form-group ">
        <input type="submit" value="Mark as complete" class = "pink-btn-validate btn btn-secondary text-center mt-1 mb-1">
      </div>
    </form>
  </div>
</div>

<div class="card rounded mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a class="pink-btn btn btn-primary mb-2 dropdown" href="#yourChallengesDropdown" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
        <h5 class = "mb-0">Your Challenges<span class="down-caret"></span></h5>
      </a>
      <div class="collapse card-body" id="yourChallengesDropdown">
        <div class="pre-scrollable" id="yc-container">
          <div id="yourChallenges">

          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- TAKE A CHALLENGE -->
<div class="card rounded mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a class="pink-btn btn btn-primary mb-2 dropdown" href="#takeAChallengeDropdown" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
        <h5 class = "mb-0">Take a Challenge<span class="down-caret"></span></h5>
      </a>
      <div class="collapse card-body" id="takeAChallengeDropdown">
        <div class="pre-scrollable" id="tac-container">
          <div id="takeAChallenge">

          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- COMPLETED CHALLENGES -->
<div class="card rounded mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a class="pink-btn btn btn-primary mb-2 dropdown" href="#completedChallengesDropdown" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
        <h5 class = "mb-0">Completed Challenges<span class="down-caret"></span></h5>
      </a>
      <div class="collapse card-body" id="completedChallengesDropdown">
        <div class="pre-scrollable" id="cc-container">
          <div id="completedChallenges">

          </div>
        </div>
      </div>
    </li>
  </ul>

</div>
<!-- <script src="../../scripts/challenges.js"></script> -->
