<!-- YOUR GAMES -->
<div class="card rounded mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h3 class = "mb-0">Your Games</h3>
      <div class="card-body pt-0">
        <div class=" pre-scrollable">
          <table class="table table-striped">
            <thead>
                <tr>
                  <th>Game</th>
                  <th>Time</th>
                  <th>Team 1 Slots</th>
                  <th>Team 2 Slots</th>
                  <th>Your Team</th>
                  <th>Discord Room</th>
                </tr>
            </thead>
            <tbody id="my-game-list">
            </tbody>
          </table>
        </div>
        <!-- <h5 class = "ml-1 mt-1"><i>Games with insufficient players 24 hours before game time will be cancelled (You will be notified)</i></h5> -->
        <ul>
          <li>Games with insufficient players 24 hours before game time will be cancelled (You will be notified).</li>
          <li>If you want to cancel a sign up you must email us at robert@wecasual.gg or message us on Discord 24 hours before the game.</li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<!-- FRIEND LIST -->
<div class="row">
  <div class="col-md-6 col">
    <div class="card rounded mt-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h3>Friends</h3>
          <div class="card-body pre-scrollable">
            <div id="friends-list">

            </div>
            <!-- <table class="table table-striped">
              <thead>
                  <tr>
                    <th></th>
                    <th></th>
                  </tr>
              </thead>
              <tbody id="friends-list">
              </tbody>
            </table> -->
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- FRIEND REQUESTS -->
  <div class="col-md-6 col">
    <div class="card rounded mt-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h3>Friend Requests</h3>
          <p class = "mb-0">People who want to add you as a friend</p>
          <div class="card-body pre-scrollable">
            <div id="friend-requests">

            </div>
            <!-- <table class="table table-striped">
              <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
              </thead>
              <tbody id="friend-requests">
              </tbody>
            </table> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ADD FRIENDS -->
<div class="card rounded mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h3>Add a friend</h3>
      <p class ="mb-0">Click to send a friend request</p>
      <input type="text" id="user-search" onkeyup="search()" placeholder="Search for a user..">
      <div class="card-body pre-scrollable friend-search">
        <ul id="user-list">
        </ul>
      </div>
    </li>
  </ul>
</div>
<script src="../../scripts/profile.js"></script>
