<% include ../../partials/header.ejs %>
<% include ../../partials/navbar.ejs %>

<div class="container top-spacer">
  <div class="card-header display-4 text-center">
    Rules
  </div>
  <div class="card rounded">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h3 class = "mb-0">Rules </h3>
        <i>Version 13-Nov-2017</i>

        <div class="card-body pt-0">
          <div class="">
            <hr>
            <h4 class="card-title text-center"><b>Condensed version</b></h4>
            <ul class="card-text pl-3">
              <li>Be nice</li>
              <li>Show up to games you sign up for!</li>
              <li>Join and use the Discord</li>
              <li>Report any violations or bad behaviour to the Wecasual team<</li>
              <li>Failing to abide by the rules can result in the removal of Wecasual</li>
              <li>If you have questions or concerns email: <a href="mailto:robert@wecasual.gg">robert@wecasual.gg</a></span><span >&nbsp;or dm Robert on discord</li>
            </ul>
            <hr>
            <h4 class="card-title text-center"><b>Full version</b></h4>
            <!-- <p>Wecasual has a mission to ELIMINATE ALL TOXIC BEHAVIOUR
              FROM ESPORT GAMES THROUGH ORGANIZED, FRIENDLY, AND WELCOMING PLAY. The following rules are designed to allow Wecasual to maintain a positive, and welcoming community. </p> -->

            <h4 class="card-title mt-3">Registration Rules</h4>
            <ul class="card-text pl-3">
              <li>To participate in Wecasual players must be under 4000 solo MMR</li>
              <ul>
                <li>Exceptions will be made on a case-by-case basis, contact <a href="mailto:robert@wecasual.gg">robert@wecasual.gg</a></li>
                <li>MMR must be publicly visible on your Dota 2 account in-client and on Dotabuff/OpenDota</li>
                <li>Party MMR will not be taken into account</li>
                <li>If you are not calibrated you can’t be playing in very high skill games (Dotabuff and OpenDota will be referenced)</li>
              </ul>
              <li>Each player may only register one account with Wecasual</li>
              <li>Players are not allowed to share accounts with any other players</li>
              <li>There is no registration cut off date</li>
            </ul>
            <h4 class="card-title mt-3">Player Rules</h4>
            <ul class="card-text pl-3">
              <li>While in Wecasual players must stay below the MMR cap (Exceptions will be made on a case-by-case basis)</li>
              <li>Wecasual reserves the right to remove a player from the community due to skill level disparity</li>
              <ul>
                <li>This manner of player removal is for play balancing reasons</li>
              </ul>
            </ul>
            <h4 class="card-title mt-3">Conduct</h4>
            <ul class="card-text pl-3">
              <li>All community members must act in a respectful manner while in the Wecasul community</li>
              <ul>
                <li>This includes on the Wecasual Discord, Wecasual Website, and any Wecasual games</li>
              </ul>
              <li>No verbal attacks or rude remarks to any other person</li>
              <li>No harassment of any Wecasual community members</li>
              <li>No spam</li>
              <li>No sharing or posting of offensive or NSFW content anywhere in the Wecasual community space</li>
            </ul>
            <h4 class="card-title mt-3">League Rules</h4>
            <ul class="card-text pl-3">
              <li>The league is continuous and there are no playoffs or end to a ‘season’</li>
              <li>Games are best of 1 (Unless otherwise specified)</li>
              <li>Lobbies will be hosted by Wecasual or official lobby hosters</li>
              <li>If you are unable to attend a game you signed up for please contact a Wecasual team member</li>
              <li>You must give at least 48 hours notice of your absence, continued late notice will result in disciplinary action</li>
              <li>Any game with insufficient sign ups 24 hours before game time will be cancelled</li>
            </ul>
            <h4 class="card-title mt-3">Tournament Rules</h4>
            <ul class="card-text pl-3">
              <li>All Wecasual Tournament games will follow the standard Wecasual rules, and additional rules will be detailed in this section</li>
              <li>Captains should be decided within the teams before the game starts</li>
              <li>Games will be played in Captains Mode</li>
              <li>Series will be a best of 3</li>
              <li>Team members who are late more than 10 minutes for the first game, and 5 minutes for subsequent games will be disqualified</li>
              <li>Teams may only play with one sub</li>
              <li>Lobbies will be hosted by Wecasual admins</li>
              <li>Lobbies will be hosted on USE servers</li>
              <li>All teams must use their official registered team name in the lobby, and only use players listed on their roster</li>
              <li>Pick order and side is determined using the automatic in-game coin flip system</li>
              <li>No false GGs. If a GG is accidentally called, cancel it immediately and say in all chat that it was a mistake</li>




            </ul>
            <h4 class="card-title mt-3">Lobbies and In-Game Rules</h4>
            <ul class="card-text pl-3">
              <li>All players should be in lobby 5 minutes prior to the official start time</li>
              <li>Pauses are permitted for any reasonable issues</li>
              <ul>
                <li>This includes: lag and packet loss, a disconnect, urgent bathroom break, someone at the door, etc. Please use your best judgement when it comes to pauses</li>
                <li>If there is an issue with pausing in-game contact a Wecasual team member via email or on Discord</li>
              </ul>
              <li>No all chat of any variations of “gg” outside of forfeiting the match</li>
              <ul>
                <li>Any accidental all chat of “gg” without the intention of forfeiting should be immediately followed by all chat informing the opposing team that they will not be forfeiting</li>
                <li>Any fake “gg” calls with be result in a warning and then a forfeit</li>
              </ul>
              <li>Positive and friendly all chat is permitted</li>
              <li>Any negative (even with playful or good intentions) will not be permitted</li>
              <li>All players must use voice chat in the Wecasual Discord to communicate with their team</li>
            </ul>
            <h4 class="card-title mt-3">Reporting</h4>
            <ul class="card-text pl-3">
              <li>Players may report any violations of the Wecasual rules</li>
              <li>All and any reports can be sent to<a href="mailto:robert@wecasual.gg">robert@wecasual.gg</a> or to Robert on Discord</li>
              <li>Please include the match ID, team names, and player names of those involved</li>
              <li>It is recommended to include other evidence such as screenshots or recordings as well as having consensus among the players in the match that the rules were broken</li>
            </ul>
            <h4 class="card-title mt-3">Disciplinary Actions </h4>
            <ul class="card-text pl-3">
              <li>The first two violations of the rules will result in warnings</li>
              <li>The third violation of the rules will result in a removal from Wecasual</li>
              <li>Any Wecasual team member reserves the right to remove any player from the league with no prior warnings under extreme circumstances</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<% include ../../partials/footer.ejs %>
