<%if(user && user['Status'] == 'Not Registered'){%>
  <% include ../../partials/dota/header-not-paid.ejs %>
<%}
else{%>
  <% include ../../partials/dota/header.ejs %>
<%}%>


<div class="container top-spacer">
  <div class="card">
    <div class="card-header display-4 text-center">
      Schedule
    </div>


    <div class="card rounded p-3">
      <iframe class="airtable-embed" src="https://airtable.com/embed/shrOdXUN6J3hiyYtv?backgroundColor=purple" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
      <!-- Display the "sign up to schedule a game" whenever the user has not signed up fully -->
      <%if(!user || (user && user['Status'] == 'Not Registered')){%>
        <h2 class = "mt-2 text-center"><a href="/dota/signup">Sign up</a> to join a game</h2>
      <%}

      else{%>
        <h2 class = "mt-2 text-center">Sign up for a game on the <a href="/dota">home page</a></h2>
      <%}%>



    </div>



<!-- OLD SCHEDULE -->
    <!-- <div class="card-body">
      <h4 class="card-title">Wecasual league games are Monday through Thursday at 9:00 PM EST.</h4>
    </div>


    <%if(user){%>
      <h2 style="display:none;" id="uid"><%=user.id %></h2>
      <h2 style="display:none;" id="schedule-type">/schedule/getAllSchedule</h2>
    <%}else{%>
      <h2 style="display:none;" id="uid"></h2>
      <h2 style="display:none;" id="schedule-type">/schedule/getAllSchedule</h2>
    <%}%>
      <li class="list-group-item">
        <h3><b>Upcoming Games</b></h3>
        <h5>Click to change your response</h5>
        <div class="card-body pre-scrollable">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Your Response</th>
              </tr>
            </thead>
            <tbody id="schedule-list">
            </tbody>
          </table>
        </div>
      </li> -->
      <!-- Trigger the modal with a button -->
      <!-- Modal -->
      <!-- <div class="modal fade" id="game-modal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content"> -->
            <!-- <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" id="modal-close">&times;</button>
            </div> -->
            <!-- <div class="modal-body">
              <div id="team1-header">
              </div>
                <table class="table" id="team1-table">
                  <thead>
                    <tr>
                      <th>Player</th>
                      <th>Going</th>
                      <th>Update Your Response</th>
                    </tr>
                  </thead>
                  <tbody id="player-list-1">
                  </tbody>
                </table>
              <div id="team2-header">
              </div>
                <table class="table" id="team2-table">
                  <thead>
                    <tr>
                      <th>Player</th>
                      <th>Going</th>
                      <th>Update Your Response</th>
                    </tr>
                  </thead>
                  <tbody id="player-list-2">
                  </tbody>
                </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close">Close</button>
            </div>
          </div>
        </div>
      </div> -->
  </div>
</div>

  <script src="scripts/upcomingGames.js"></script>
<% include ../../partials/footer.ejs %>
