<!--YOUR CHALLENGES -->
<div class="item-info-opacity" id="item-opacity"></div>
<div class="card rounded challenge-info p-2 text-center" id="item-info">
  <h5 class="mt-2" id="item-name"></h5>
  <div class="mt-3 p-2 rounded text-left" id="item-desc"></div>
  <div class="mt-3" id="item-cost"></div>
  <div id="item-actions"></div>
</div>


<div class="row">
  <div class="col-md-6 col">
    <div class="card rounded mt-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h3>Shop</h3>
          <div class="pre-scrollable" >
            <div class="row" id="item-container">

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6 col">
    <div class="card rounded mt-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h3>Your Purchases</h3>
          <div class="pre-scrollable" id="item-purchased-container">

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
