<% include ../../partials/header.ejs %>
<% include ../../partials/navbar-not-paid.ejs %>

	<div class="container top-spacer">
		<!-- Intro section -->
		<h2 class="text-center"><span class="mt-2 mr-2"><%= user.username %></span>
			<img height="40" width="40" class="rounded-circle" src= <%= user.avatar %> >
		</h2>
		<div class="row justify-content-center">
			<div class="col col-9">
				<form id="signup-form" method="post" action="/signup/submitSkillLevel">
					<div class="my-3 row justify-content-center">
						<h4 class = "py-1 col col-12">Please enter your estimated skill level before participating in any Wecasual Dota games</h4>
						<div class="py-1 col col-12">
							<ul>
								<li><b>Beginner:</b> New to Dota 2.</li>
								<li><b>Novice:</b> Understands the basics of the game, like hero abilities and positions, but is still working on fundamental skills like last hitting, pulling, and warding.</li>
								<li><b>Intermediate:</b> Can perform fundamentals like last hitting, pulling, and warding with ease, but does not always execute in teamfights or follow the flow of the game.</li>
								<li><b>Advanced:</b> Can consistently execute in team fights and ganks. Strong understanding for flow of the game.</li>
							</ul>
						</div>
							<select class="form-control" name="skill-level">
								<option>Beginner</option>
							  <option>Novice</option>
								<option>Intermediate</option>
								<option>Advanced</option>
							</select>
					</div>
					<hr>
					<div class="form-group text-center">
						<input type="submit" value="Submit" class = "btn btn-secondary btn-lg btn-block">
					</div>
				</form>
			</div>
		</div>
	</div>
<% include ../../partials/footer.ejs %>
