<% include ../../partials/header.ejs %>
<% include ../../partials/navbar.ejs %>

<div class="container-fluid top-spacer">
  <div class="card-header display-4 text-center">
    Teams
  </div>


    <div class="card rounded p-3">
      <!-- iframe -->
      <iframe class="airtable-embed" src="https://airtable.com/embed/shr15AD1K3nDdxdEz?backgroundColor=purple"
      frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
    </div>


    <div class="card-header display-4 text-center mt-5">
      Wecasual Tournament Winner
    </div>


    <div class="card text-center rounded p-3">
      <h1>Team monkaS: November 11th, 2017</h1>
      <img class = "card mt-3 img-fluid mx-auto d-block rounded" alt="monkaS victory card" src="/images/monkaS-victory.png" height="55%" width="55%">
    </div>
</div>
<% include ../../partials/footer.ejs %>
