<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google optimize -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-T8J6LJL':true});</script>


    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107381890-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      ga('require', 'GTM-T8J6LJL');
      gtag('config', 'UA-107381890-1');
    </script>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Esports for casual players">
    <link rel="icon" href="/images/justRobo_BG.png">
    <link rel="alternate" href="http://wecasual.gg" hreflang="en-ca" />
    <link rel="alternate" href="http://www.wecasual.gg" hreflang="en-ca" />
    <link rel="alternate" href="https://www.wecasual.gg" hreflang="en-ca" />

    <title>Wecasual</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Custom CSS and fonts -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/	main.css" />
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300" rel="stylesheet">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- blog CSS -->
    <link href="/stylesheets/stylish-portfolio.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
  </head>
  <body style = "font-family: 'Questrial', sans-serif; background-color: #fafafa ">


    <!-- Header nav-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #555;">



              <!-- DROP DOWN LOGOS -->
        <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown mt-0">
            <a class="rounded nav-link " href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class = "mr-3"src="/images/League_of_legends_logo_transparent.webp" alt= "League of Legends logo small" width="120" height="44" >
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="nav-link rounded" href="/dota">
                <img class = "mr-1"src="/images/Dota_2_Logo_only.webp" alt= "Dota logo just icon" width="44" height="44" >
              </a>
            </div>
          </li>
        </ul> -->

      <a class="rounded nav-link " href="/lol">
        <img class = "mr-3"src="/images/League_of_legends_logo_transparent.webp" alt= "League of Legends logo small" width="120" height="44" >
      </a>

      <a class="navbar-brand nav-link rounded" href="/">
        <img src="/images/justRobo_BG.svg" alt= "Wecasual logo" width="44" height="44" alt="" >
          <span class = "align-middle p-2 d-md-inline d-none">Wecasual</span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <!--Navbar Buttons-->
          <!-- <li class="nav-item dropdown">
            <a class="rounded nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              League
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

              <a class="nav-link rounded" href="/players">Players</a>
              <a class="nav-link rounded" href="/teams">Teams</a>
              <a class="nav-link rounded" href="/schedule">Schedule</a>
            </div>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link rounded" href="/pick-up-games">Pick-up Games</a>
          </li> -->


          <!-- Info dropdown -->
          <!-- <li class="nav-item dropdown">
            <a class="rounded nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Info
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="nav-link rounded" href="/about">About</a>
              <a class="nav-link rounded" href="/FAQ">FAQ</a>
              <a class="nav-link rounded" href="/rules">Rules</a>

              <!-- Only shows when players are logged in -->
              <!-- <% if(user){ %>
                <hr>
                <a class="nav-link rounded" href="/playing-guide">Playing Guide</a>
              <% } %> -->
<!--
            </div>
          </li> -->


          <li class="nav-item px-1">
            <a class="nav-link rounded" href="/lol/about">About</a>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link rounded" href="/lol/FAQ">FAQ</a>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link rounded" href="/lol/rules">Rules</a>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link rounded" href="/lol/schedule">Schedule</a>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link rounded" href="/lol/contact">Contact</a>
          </li>
          <!-- <li class="nav-item px-1">
            <a class="nav-link rounded" href="/dota/blog">Blog</a>
          </li> -->
        </ul>

        <ul class="navbar-nav ml-auto">
          <!-- Steam login -->
          <% if(!user){ %>
            <li class="nav-item">
              <a class="nav-link rounded px-1" href="/login">
                <span>Sign in</span>
              </a>
            </li>
          <% } else{ %>
            <li class="nav-item">
              <a class="nav-link rounded px-1" href="/lol">
                <span class="mr-3"><%= user['Summoner Name'] %></span>
                  <img height="40" width="40" class = "rounded-circle" src='<%= user['Avatar'] %>' alt='Your Avatar Image' />
              </a>
            </li>
            <li class="nav-item align-middle">
              <a class="nav-link rounded px-1" href="/lol/logout">
                <span>Logout</span>
              </a>
            </li>
         <%} %>
        </ul>

        <!-- Search bar
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->

      </div>

    </nav>
