.navbar-brand{
  font-size: 1.5em;
}
.nav-link{
  color: #fff !important;
  font-size: 1.5em;
}
.nav-link:hover{
  background-color: #D3D0C8 !important;
}

.container{
  color: #555;
}

.jumbotron{
  margin-top:65px;
  height: 750px;
  background: url("/images/treant-tiny.png")  no-repeat center center;
  background-size: cover;
}



#join-league {
  padding: 0px;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 2.2em;
  background-color: #ff9da2 ;
  border: 2px solid white;
  overflow: hidden;
}

.push-spaces
{
    height: 100px;
}

.grey-text{
  color: #555;
}

.top-spacer{
  margin-top:95px; /* to account for navbar*/
}

.pre-scrollable{
  height: 800px;
}
/* The alert message box */
.alert {
    text-align: center;
    font-size: 1.0em;
    margin-bottom: 20px;
    color: white;
    transition: opacity 0.6s;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.alert-red{
      padding: 15px;
      background-color: #f44336; /* Red */
}

.alert-green{
      padding: 15px;
      background-color: #4CAF50; /* Green */
}
/* The close button */
.closebtn {
    margin-left: 10px;
    color: white;
    font-weight: bold;

    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

footer{
  bottom: 0;
  text-align: center;
}
