/*General*/
.container{
  /*color: #555;*/
}
body{
  background-color: #fafafa !important;
  font-family: 'Questrial', sans-serif !important;
}
.text-1.3em{
  font-size: 1.3em;
}
.text-2.5em{
    font-size: 2.5em;
}
/*End general*/


/*nav*/

.nav-link{
  color: #fff !important;
  font-size: 24px;
}
.nav-link:hover{
  background-color: #D3D0C8 !important;
}

.navbar{

  background: rgba(85, 85, 85, 1);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.dropdown-menu{
  background-color: #555;
}


.navbar.scrolled {
      background: rgba(85, 85, 85, 0);
}


/*End nav*/

/*Misc spacing*/
.top-spacer{
  margin-top:95px; /* to account for navbar*/
}
.push-spaces{
    height: 100px;
}
/*End misc spacing*/


/*Jumbotrons*/
.jumbotron-dota{
  margin-top:75px;
  height: 750px;
  background: url("/images/treant-tiny.png")  no-repeat center center;
  background-size: cover;
}

.jumbotron-lol{
  margin-top:70px;
  height: 750px;
  background: url("/images/lol-teamwork-image-greyedout.png")  no-repeat center center;
  background-size: cover;
}

.jumbotron-main{
  height: 850px;
  color: #fff;
  background: url("/images/treant-tiny-dota-2-gradient.png") no-repeat center;
  background-size: cover;

}

.jumbotron-words-shadow{
  color: #fff;
  text-shadow: #000 0 5px 5px;
}

.jumbotron-words{
  /*background-color: rgba(55, 55, 55, 0.5);*/
  margin:0px;
  position: relative;
  top: 15%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: #000 0 2px 2px;
  font-size: 3.8em;

}

.jumbotron-words-sub{
  margin:0px;
  position: relative;
  top: 25%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-shadow: #000 0 2px 2px;
  font-size: 2.0em;
}

.jumbotron-button{
  margin:0px;
  position: relative;
  top: 20%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
}

.jumbotron-words-spacer{
  padding-top: 74px;
}

/*End Jumbotrons*/


/*Index pages*/

.discord-link{
  color: #fff !important;
}




.join-league-btn {
  padding: 7px;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 2.2em;
  background-color: #ff9da2 ;
  border: 2px solid white;
  overflow: hidden;
  box-shadow: 5px 5px 2px #555;
}

.join-league-btn:hover {
    background-color: #ff9da2;
    border-color: #555;
    color: white;
}

/*End index page*/




/*Landing page*/

.grey-container{
  background-color: #555555;
  padding-top: 60px;
  color: #fff;
  padding-right: 0px;
  padding-bottom: 60px;
}
.pink-container{
  background-color: #ff9da2 ;
  padding-top: 60px;
  color: #fff;
  padding-right: 0px;
  padding-bottom: 60px;
}

.explain-words{
  color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.explain-words-last{
  color: #555;
}



.explain-words-text{
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 1.7em;
  position: relative;
  top: 20%;
}

.explain-words-header{
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 1.5em;
}

.logo-pick-container{
  background-color: #555555;
  color: #fff;
}

.logo-pick{
  color: #fff;
  width: 95%
}

.white-hr{
  border: 1px solid #fff;
}

.small-hr{
  width:20%;
  margin-right: auto;
  margin-left: 0;
}

.scroll-words{
  position: absolute;
  float: right;
  display: none;
}

.scroll-words-container{
  display: inline;

}

.discord-logo{
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #fff
  background-size: cover;
  background: url(https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/discord-512.png) no-repeat center;
}

.discord-widget{

}


/*End landing page*/

/*Blog css*/
.blog-link{
  text-decoration: none;
  color: inherit;
  margin:20px;
  padding:3px;
  float:left;
  width: 100%;
}


.blog-link:hover{
   text-decoration: none;
   color: inherit;
}

.blog-header{
  background-color: rgba(55, 55, 55, 0.45)!important;
}

.blog-title{
  font-size: 1.2em;
  font-weight: bold;
}

.blog-image{
  height: 200px;
  width:80%;
  display: table;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.blog-home{
  padding: 3px;
}

.blog-body{
  font-family: 'Merriweather', serif;

  color: #000;
  width: 80%;
  margin: auto;
  /*text-align: justify;*/
}
.blog-body h1,.blog-body h2 {
  margin-top: 60px;
}
.blog-body p{
  margin-top: 15px;
}

@media (min-width: 769px) {
    .blog-body  {
        font-size: 1.2em !important;
     }
}

/*Blog end*/

/*Feedback*/
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


.contact-message{
  height:200px;
}
/*Feedback end*/

/*Bootstrap edits*/
.pre-scrollable{
  max-height: 650px;
  border: 0px;
  padding: 20px;
}

.pre-scrollable-mini{
  max-height: 350px;
}

.collapse-text{
  color: #555;
  text-decoration: none;
}
.collapse-text:hover{
  color:#555;
}

.card{
  border-radius: 0rem;
}
.card-header{
  background-color: #e6e6e6;
}

a.active{
  background-color: #ff9da2 !important;
  border: 0px;
}

/*Bootstrap edits end*/

/*Home page*/
.discord-link-hp{
  color:#555;
  text-decoration:none;
  padding-bottom: 0px;
  box-shadow: 0 8px 3px -8px black;
}
.discord-link-hp:hover{
  color:#d1d1d1;
  text-decoration:none;
}

.steam-name{
  color:#555;
}

.pink-btn{
  border: 0px solid #555;
}

#user-search {
    background-image: url('/images/search-icon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-size: 1.3em;
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#user-list {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#user-list li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: #555; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#user-list li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.sidebar{

}

.friend-search{
  min-height: 250px;
}

.down-caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
  display: inline-block;
  margin-left: 6px;
  top: -3px;
  position: relative;
  transform: rotate(0deg);
  transition: all .25s ease-in;
}

.open-caret {
  transform: rotate(180deg);
  transition: all .25s ease-out;
}

/*Home page end*/

/*Players page*/
.loading-ring {
    display:    none;
    position:   absolute;
    height:     100%;
    width:      100%;
    background: url('http://i.stack.imgur.com/FhHRx.gif') no-repeat;
}
/*Player page end*/



/*Quick link signup*/

.quick-link-bg{

  background-image: url('/images/the-radiant.jpg');
  margin-top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.quick-link-box{
  border: 3px solid #ddd; /* Add a grey border */
}

.quick-link-title{
  color: #fff;
}

.quick-link-container{
  padding: 50px;
  background-color: rgba(50, 50, 50, 0.5);
}

/*Quick link signup end*/


/*Random*/
.grey-text{
  color: #555;
}
.about-text{
  font-size: 1.1em;
}

ul,li{
  margin-top: 4px;
}
/*Random end*/

footer{
  bottom: 0;
  text-align: center;
  background-color: #d1d1d1 !important;
}

/* The alert message box */
.alert {
    text-align: center;
    font-size: 1.0em;
    margin-bottom: 20px;
    color: white;
    transition: opacity 0.6s;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.alert-red{
      padding: 15px;
      background-color: #f44336; /* Red */
}

.alert-green{
      padding: 15px;
      background-color: #4CAF50; /* Green */
}
/* The close button */
.closebtn {
    margin-left: 10px;
    color: white;
    font-weight: bold;

    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}


tr.add-row:hover{
  background-color: #d1d1d1;
}
tr.add-row:active{
  background-color: #555555;
}

.remove-row:hover{
  background-color: #d1d1d1;
}

.remove-row:active{
  background-color: #555555;
}

.remove-row{
  padding:15px;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px
}

footer{
  bottom: 0;
  text-align: center;
}


/*Hover.css stuff*/

/* Float */
.hvr-float {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
