<% include ../../partials/lol/header.ejs %>
  <div class="container top-spacer">
    <div class="card">
      <div class="card-header display-4 text-center">
        Frequently Asked Questions
      </div>
      <div class="card-body about-text">
        <h3 class="card-title">Q: What exactly is Wecasual?</h3>
        <ul class="card-text">
          <li>Wecasual provides scheduled game times for you and other members to play in a safe space.</li>
          <li>We handle the organization, and you just play.</li>
        </ul>
        <h3 class="card-title">Q: Who can play in Wecasual?</h3>
        <ul class="card-text">
          <li>We are looking for casual players whose primary objective is to have fun playing Dota 2.</li>
          <li>Our community is open to all players who are <b>less than 4k MMR </b> (Case by case exceptions can be made see below).</li>
          <li>If you are not calibrated you must be playing in high skill games or lower.</li>
          <!-- <li>Other than that, anyone can join Wecasual, as long as you are friendly person.</li>
          <li>We strongly encourage <b>newer players</b> to join!</li> -->
        </ul>

        <h3 class="card-title">Q: Do I need to pay?</h3>
        <ul class="card-text">
          <li>Wecasual is currently in a <b>Free Beta</b>, so players will have access to everything for free!</li>
          <h6><i>Because this is a beta, we will be testing out lots of new features. Check out our blog for updates!</i></h6>
          <h6><i>Wecasual's full release will be $5/month</i></h6>
        </ul>

        <h3 class="card-title">Q: Is there a prize pool?</h3>
        <ul class="card-text">
          <li>There is no prize pool and there are no individual player rankings; Wecasual is strictly for those looking to hang out
          with friends and enjoy playing their games.</li>
        </ul>

        <h3 class="card-title">Q: If I am over 4k MMR what can I do?</h3>
        <ul class="card-text">
          <li>If you are close to 4k (around 500 MRR difference) you are potentially eligible to play.</li>
          <li>Email <a href="mailto:robert@wecasual.gg">robert@wecasual.gg</a> or send Robert a message on Discord.</li>
        </ul>

        <h3 class="card-title">Q: If my MMR goes above 4k can I still play?</h3>
        <ul class="card-text">
          <li>If you increase your mmr past 4k while apart of Wecasual you will still be able to play.</li>
          <li>You must adhere to the value of community before competition (see the<a href="/lol/about" target="_blank"> about</a> about page). </li>
          <li>If your skill level is too high and it causes great imbalance (we will let you know if that is the case) you may have to leave the league until we create a higher skill division.</li>
          <li>The MMR cap is not designed to be strict. It just helps make sure there are not massive skill differences in games.</li>
        </ul>


        <h3 class="card-title">Q: When do I play?</h3>
        <ul class="card-text">
          <li>You choose when you want to play!</li>
          <li>See available games <a href="/lol/schedule" target="_blank"> here</a></li>
        </ul>

        <h3 class="card-title">Q: Do I have to play on a team?</h3>
        <ul class="card-text">
          <li>There are no set teams in Wecasual</li>
          <li>Each game is schedule like an inhouse where any community member may sign up individually.</li>
        </ul>

        <h3 class="card-title">Q: If I have a team or 5-stack how do I play with them?</h3>
        <ul class="card-text">
          <li>If you have a full team, then when you sign up let us know, and we can ensure your team plays together.</li>
        </ul>

        <h3 class="card-title">Q: What if I want to play with certain friends, but I don't have enough for a teaam?</h3>
        <ul class="card-text">
          <li>You and your friend group can sign up for the same game.</li>
          <li>Each game will have two sides, so make sure to sign up on the same side.</li>
        </ul>
        <!-- <h3 class="card-title">Q: What is the league?</h3>
        <ul class="card-text">
          <li>The league is the main way to play in Wecasual</li>
          <li>When you join Wecasual you will be put on a team to play weekly games</li>
        </ul>

        <h3 class="card-title">Q: Are there skill divisions?</h3>
        <ul class="card-text">
          <li>There are no skill divisions in Wecasual.</li>
          <li>Plans are in place for skill divisions once there are enough players.</li>
        </ul> -->

        <!-- <h3 class="card-title">Q: How can I get a sub for my team?</h3>
        <ul class="card-text">
          <li>Subs will be automatically assigned to your team for your game.</li>
        </ul> -->

        <h3 class="card-title">Q: Is there a 'season' in Wecasual</h3>
        <ul class="card-text">
          <li>There is no season in Wecasual.</li>
          <li>Wecasual is continuous and there is no season end or playoffs.</li>
        </ul>

        <!-- <h3 class="card-title">Q: What are pick-up games?</h3>
        <ul class="card-text">
          <li>Pick-up games are optional extra events for members.</li>
          <li>Any Wecasual member can signup to play.</li>
          <li>You do not have to play with your league team.</li>
        </ul> -->

        <h3 class="card-title">Q: I want to cast Wecasual games, how can I do that?</h3>
        <ul class="card-text">
          <li>Email <a href="mailto:robert@wecasual.gg">robert@wecasual.gg</a> or send Robert a message on Discord the game you want to cast.</li>
          <li>If you are approved you will be invited to the game lobby to cast.</li>
        </ul>


        <h3 class="card-title">Q: How do I report a player incident?</h3>
        <ul class="card-text">
          <li>Email <a href="mailto:robert@wecasual.gg">robert@wecasual.gg</a> or send Robert a message on Discord with any issues that you have involving other players.</li>
        </ul>

      </div>
    </div>

      </div>
    </div>
  </div>
<% include ../../partials/footer.ejs %>
