<% include ../../partials/lol/header.ejs %>
  <div class="jumbotron-lol pb-0">
    <div class="container">
        <div class = "pb-5" >
          <h1 class ="display-3 text-center m-3 pt-5" style ="color: #fff; text-shadow: #000 0 3px 3px;">Thank you for joining Wecasual!</h1>
              <a class = "discord-link" href="https://discord.gg/dGA439" target="_blank">
                <h2 class= "text-center mb-0 mt-5 rounded" id="join-league">
                  Join the Discord to get to know the community:
                  <b>https://discord.gg/dGA439</b>
                </h2>
              </a>

              <a class = "discord-link" href="/lol"><h2 class= "text-center mb-0 mt-5 rounded"  id="join-league">Sign up for games on the <b>homepage</b></h2></a>



        </div>
    </div>
  </div>
<% include ../../partials/footer.ejs %>
