<% include ../partials/header.ejs %>
  <div class="container top-spacer">
    <div class="card text-center">
      <div class="card-header display-4">
        About Wecasual
      </div>
      <div class="card-body">
        <h4 class="card-title">The spirit of real life recreational sport leagues brought to eSports</h4>
        <p class="card-text">Wecasual is a Dota 2 community that hosts leagues and other events for players looking to have a fun and positive Dota 2 experience.
        Wecasual is a toxic-player free environment where players can play with a consistent team every week in our leagues and also
        participate in pick-up style games for those who want to play even more.
        </p>

        <h4 class="card-title">How does Wecasual work?</h4>
        <p class="card-text">There is no prize pool and there are no individual player rankings; Wecasual is strictly for those looking to hang out
          with friends and enjoy playing their games. Players can join solo or join with friends! If you are solo or need more players to round out your stack,
          don’t worry, we will find you a team or fill in any remaining spots for you.</p>

        <h4 class="card-title">Who is Wecasual for?</h4>
        <p class="card-text">We are looking for casual players whose primary objective is to have fun playing Dota 2.</p>
        <p class="card-text">Our community is open to all players who are less than 4k MMR. Other than that, anyway can join Wecasual, as long as you are friendly person!
        Unfortunately, we cannot accommodate higher skill players at this time, but we will be accepting higher skill players soon! </p>

        <h4 class="card-title">Future expansion</h4>
        <p class="card-text">Currently Wecasual only has a community and leagues for Dota 2, but Wecasual plans on expanding to other major eSports in the near future!</p>
      </div>
    </div>
    <div class="mt-4 card text-center">
      <div class="card-header display-4">
        The Team
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title">Robert</h3>
            <p class="card-text font-italic font-weight-bold">The organizer</p>
            <p>The man that keeps this whole thing together. Have any questions about anything ask Robert.</p>
            <p><a href="mailto:robert@wecasual.gg">robert@wecasual.gg</a></p>
          </div>
          <div class="col">
            <h3 class="card-title">James</h3>
            <p class="card-text font-italic font-weight-bold">The coder</p>
            <p>James keeps this operation on the web and makes sure things don't crash.</p>
            <p><a href="mailto:james@wecasual.gg">james@wecasual.gg</a></p>
          </div>
          <div class="col">
            <h3 class="card-title">Stewart</h3>
            <p class="card-text font-italic font-weight-bold">The money man</p>
            <p>Stewart makes sure we do not run out of money to keep Wecasual alive.</p>
            <p><a href="mailto:stewart@wecasual.gg">stewart@wecasual.gg</a></p>
          </div>
        </div>



      </div>
    </div>
  </div>
<% include ../partials/footer.ejs %>
