<% include ../partials/header.ejs %>
<% include ../partials/navbar-not-paid.ejs %>
<div class="container-fluid top-spacer">
  <a href="/dota/signup">Dota 2</a>
  <br>
  <a href="/lol/signup">League of Legends</a>
</div>
