<!-- GAMEMODE RULES -->
<div class="card rounded my-3">
  <ul class="list-group list-group-flush mt-0">
    <li class="list-group-item p-0  text-center mt-0">

      <div class="text-left card-body">

          <h3 class="card-title text-center">Game Modes</h3>
          <hr>
          <div class="">
          <a href="#same-colour-heroes">Same Colour Heroes</a>
          </div>
          <div class="">
          <a href="#letter-draft">Letter Draft</a>
          </div>
          <div class="">
          <a href="#carries-only">Carries Only</a>
          </div>

          <h3 class="card-title mt-4 text-center"><a name="same-colour-heroes"></a>Same Colour Heroes</h3>
          <hr>
          <h5>Number of Players</h5>
          <p>5v5</p>
          <h5>Game Mode</h5>
          <p>Captains Mode</p>
          <h5>Rules</h5>
          <ul>
            <li>Teams must create drafts based on a colour, and all their hero picks must match that colour</li>
            <li>The first phase of banning is normal</li>
            <li>Teams do not commit to their colour until their first pick</li>
            <li>After a team’s first pick they must say what colour they are in all chat</li>
            <li>The rest of the draft is normal, except teams must only pick heroes of their chosen colour</li>
          </ul>
          <h5>Colours</h5>
          <div class="row">
            <div class="col-md-4">
                <div class="inner-card text-center blue-card">
                  Blue
                </div>

            </div>
            <div class="col-md-4">
                <div class="inner-card text-center green-card">
                  Green
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner-card text-center purple-card">
                  Purple
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <div class="inner-card text-center red-card">
                  Red
                </div>

            </div>
            <div class="col-md-4">
                <div class="inner-card text-center white-card">
                  White
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner-card text-center yellow-card">
                  Yellow
                </div>
            </div>
          </div>

          <h3 class="card-title mt-4 text-center"> <a name="letter-draft"></a>Letter Draft</h3>
          <hr>


          <h3 class="card-title mt-4 text-center"> <a name="carries-only"></a>Carries Only</h3>
          <hr>

      </div>
    </li>
  </ul>
</div>
