<% include ../partials/header.ejs %>

<%if(message){%>
  <div class="modal fade" id="message-modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <h5><%= message%></h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('#message-modal').modal("show");
    });
  </script>
<%}%>


<div class="container top-spacer homepage-bg">
  <div class = "my-3">
      <!-- <div class="row my-4">
       <div class="col-lg-12 col">
          <a class=" mb-3 btn btn-secondary btn-lg btn-block"href="/profile" target="_blank">Confirm your attendance here</a>
          <a class="mb-3 btn btn-secondary btn-lg btn-block" href="/playing-guide" target="_blank">How to join a Wecasual game</a>
          <a  class="mb-3 btn btn-secondary btn-lg btn-block" href="/pick-up-games" target="_blank">Sign up for a pick-up game</a>
        </div>
      </div> -->
    	<div class = "my-3">
        <h1 class = "text-center">
          <!-- <span >Wecasual Home:  </span> -->
          <img height="46" width="46" class = "rounded" src='<%= user['Avatar'] %>' alt='Your Avatar Image' />
          <span class="mr-3 align-middle p-5" style="font-size: 1.5em"><%= user['Steam Name'] %></span>
        </h1>
        <hr>
        <div class="card rounded">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h1 class = "mb-0">Your Games</h1>
              <div class="card-body">
                <div class=" pre-scrollable">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                          <th>Game</th>
                          <th>Your Team</th>
                        </tr>
                    </thead>
                    <tbody id="my-game-list">
                    </tbody>
                  </table>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row my-4">
          <div class="col-md-6 col">
            <div class="card rounded">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h3><b>Email: </b>
                  <% if(user['Email']){ %>

                  <%= user['Email'] %>

                  <%}else{ %>
                    <i>No email</i>
                  <%}%>



                  </h3>
                </li>
              </ul>
            </div>
            <div class="card rounded mt-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">
                  <h3>
                    <img class="rounded mb-2" src="/images/discord-image.png" alt="Community image" width="64" height="64">
                      <span>Join the Discord</span>

                    <a href="https://discord.gg/3Q2n2Dt" target="_blank">https://discord.gg/3Q2n2Dt</a>
                  </h3>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col">
            <div class="card rounded">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h1>Game Signup</h1>
                  <form id="game-signup" method="post" action="/schedule/gameSignup">
                    <div class="form-group ">
                      <div class="card-body pre-scrollable">
                        <table class="table table-striped">
                          <thead>
                              <tr>
                                <th>Select a Game</th>
                              </tr>
                          </thead>
                          <tbody id="game-list">
                          </tbody>
                        </table>
                      </div>
                      <h5>Select a Team</h5>
                      <div class="radio">
                        <label><input type="radio" name="team" value="Team 1"> Team 1</label>
                      </div>
                      <div class="radio">
                        <label><input type="radio" name="team" value="Team 2"> Team 2</label>
                      </div>
                      <input type="submit" value="Sign up" class = "btn btn-secondary">
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card rounded p-3">
          <iframe class="airtable-embed" src="https://airtable.com/embed/shrHl2TZQzygTgiW6?backgroundColor=purple" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>
      </div>
    </div>
</div>
<script src="../../scripts/gameSignup.js"></script>
<% include ../partials/footer.ejs %>
