<% include ../partials/header.ejs %>



<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="  background-color: #fff;">
		<div class="text-center">
			<img class = "img-fluid" src="/images/logo.png" alt="">
		</div>
  </div>



	<div class="container">

		<!-- Landing page section if not logged in-->
		<% if(!user){ %>
    <h1 class="display-4 text-center">The new standard for playing eSports </h1>
		<h2 class="text-center">Casual Dota 2 Leagues starting October 2017!</h2>
		<div class="mailing-list">
			<p class = "text-center">Join mailing list for updates</p>
			<!-- Email input field-->
			<form method="POST" action="/mailingList/add">
				<div class="form-group col-auto">
					<input type="text" name="email" class="form-control" placeholder='Enter email'>
				</div>
				<div class="form-group text-center">
						<input type="submit" value="Submit" class = "btn btn-default">
				</div>
			</form>
			Contact us at <a href="mailto:info@wecasual.gg">info@wecasual.gg</a> for any inquiries

		</div>

		<% }
		else{ %>
			<h1 class="display-4 text-center">Thank you for signing up for Wecasual!</h1>
			<h2 class="pb-4 text-center font-italic">Games will begin <p class="font-weight-bold" >first week of October</p></h2>
			<h4 class =" mt-4 text-center">Unfortunately you caught us during our website creation. We will send you an email when the website is complete. </h3>
		<% } %>


		<footer>
			<hr>
			<p>Wecasual 2017</p>
		</footer>
  </div>

		<!-- Message for email input correct or not -->
		<div class=alert>
			<% if(error){ %>
				<div class="alert-red">
					<%= error %>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
			<% }
			else if(message){ %>
				<div class="alert-green">
					<%= message %>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
			<% } %>
		</div>











		<!-- Close ALERT code -->
		<script>
			var close = document.getElementsByClassName("closebtn");
			var i;
			for (i = 0; i < close.length; i++) {
			    close[i].onclick = function(){
			        var div = this.parentElement.parentElement;
			        div.style.opacity = "0";
			        setTimeout(function(){ div.style.display = "none"; }, 600);
			    }
			}
		</script>
<% include ../partials/footer.ejs %>
