<% include ../partials/header.ejs %>



<!-- Main jumbotron for a primary marketing message or call to action -->
<%if(!user || !user.registered){%>
  <div class="jumbotron">
    <div class="container">\

      <div class = "pb-5" style ="color: #fff; text-shadow: #000 0 3px 3px;">
        <h1 class ="display-2 text-center m-3" >Sick of toxic pubs?</h1>
        <h2 class= "text-center d-md-block d-none">Wecasual, a social and inclusive community for the casual Dota 2 player</h2>
      </div>
      <div class = "pt-5 pb-4 text-center"><a id="join-league" class="btn btn-lg btn-primary" href="/signup" role="button">Sign Up For Free</a></div>
      <div style ="color: #fff; text-shadow: #000 0 3px 3px;">
          <!-- <h1 class= "text-center">Free Beta</h1> -->
          <h2 class = "d-md-block d-none text-center font-italic">Wecasual is currently in a Free Beta, so players will have access to everything for free!</h2>
          <h2 class = "text-center font-italic">Sign-up by <b>Tuesday, October 6th </b>to make it for the first round of games.</h2>
      </div>


    </div>



  </div>
<% }

else{ %>
<div class="container top-spacer homepage-bg">
  <img class = " my-5 img-fluid mx-auto d-block" src="/images/logo.png" alt="Wecasual Logo">



  <div class = "my-3">
    <hr>
      <div class="row my-4">
        <div class="col-lg-12 col">
          <a class=" mb-3 btn btn-secondary btn-lg btn-block"href="/profile" target="_blank">Confirm your attendance here</a>
          <a class="mb-3 btn btn-secondary btn-lg btn-block" href="/playing-guide" target="_blank">How to join a Wecasual game</a>
          <a  class="mb-3 btn btn-secondary btn-lg btn-block" href="/pick-up-games" target="_blank">Sign up for a pick-up game</a>
        </div>
        <div class="col-lg-12 col mt-5 text-center">
          <h3>Join the Discord: <a href="https://discord.gg/3Q2n2Dt" target="_blank"><b>https://discord.gg/3Q2n2Dt</b></a></h3>
        </div>
      </div>
    </div>

</div>




<% } %>



<%if(!user || !user.registered){%>
	<div class="mt-5 pt-1 container ">
		<!-- Landing page section if not logged in-->
        <!-- Three columns of text below the carousel -->
       <div class="row text-center">
         <h1 class = "mb-3">Wecasual is a Dota 2 community that hosts leagues and pick-up games for casual, and positive Dota 2 players.</h1>
         <div class="col-lg-4">
           <img class="rounded" src="/images/globe-icon.png" alt="Community image" width="140" height="140">
           <h2>Join the community</h2>
           <ul class = "text-left">
             <li>Be a part of the social, inclusive, and casual communtiy!</li>
             <li>We are a <span class="font-weight-bold">toxic-player free</span> environment</li>
             <li>Join solo or join with friends</li>
         </div>
         <div class="col-lg-4">
           <img class="rounded" src="/images/monitor-icon.png" alt="Weekly games image" width="140" height="140">
           <h2>Play weekly games</h2>
           <ul class = "text-left">
             <li>Play weekly <span class="font-weight-bold">organized games</span> against and with the chillest Dota players around</li>
             <li>We are <span class="font-weight-bold">hassle-free</span>: You will not have to schedule any games, find teammates, or last minute stand-ins</li>
             <li>Wecasual league games are <b>Monday through Thursday at 9:00 PM EST</b></li>
             <li><b>There is no signup deadline!</b></li>
           </ul>
         </div>
         <!-- Pick-up games -->
         <div class="col-lg-4">
           <img class="rounded" src="/images/calendar-icon.png" alt="Pick-up games image" width="140" height="140">
           <h2>Play pick-up games</h2>
           <ul class = "text-left">
             <li>Play extra games outside your team and meet new people</li>
             <li>Inhouse games</li>
             <li>Custom games</li>
             <li>Mini tournaments</li>
         </div><!-- /.col-lg-4 -->
       </div><!-- /.row -->
      <h1 class="mt-5 text-center display-5">Casual Dota 2 Leagues starting October 2017!</h2>
  </div>

  <div class = "grey-text">
    <img class = " mt-5 img-fluid mx-auto d-block" src="/images/logo.png" alt="Wecasual Logo">
    <h1 class="mt-3 display-5 text-center">eSports for Casual Players </h1>

  </div>
          <div class = "pt-5 pb-4 text-center"><a id="join-league" class="btn btn-lg btn-primary" href="/signup" role="button">Sign Up For Free</a></div>
  <% }
  else{ %>

  <% } %>






<% include ../partials/footer.ejs %>
