<% include ../partials/header.ejs %>



<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <%if(!user || !user.paid){%>
        <div class = "pb-5" style ="color: #fff; text-shadow: #000 0 3px 3px;">
          <h1 class ="display-2 text-center m-3" >Sick of toxic pubs?</h1>
          <h2 class= "text-center d-md-block d-none">A social and inclusive community for the casual Dota 2 player</h2>
        </div>
        <div class = "pt-5 pb-2 text-center"><a id="join-league" class="btn btn-lg btn-primary" href="/signup" role="button">Join Wecasual </a></div>
        <div style ="color: #fff; text-shadow: #000 0 3px 3px;">
            <h2 class= "text-center">$5/month</h2>
        </div>
      <% }
      else{ %>
        <div class = "pb-5" style ="color: #fff; text-shadow: #000 0 3px 3px;">
          <h1 class ="display-2 text-center m-3 d-none d-md-block" >Thank you for joining Wecasual!</h1>
          <h2 class= "text-center d-md-block d-none">Your team is being created, and we will let you know when it is complete.</h2>
          <h2 class= "text-center d-md-block d-none">
            In the mean time, join the Discord to get to know the community:
            <a class = "discord-link rounded" href="https://discord.gg/3Q2n2Dt" target="_blank">https://discord.gg/3Q2n2Dt</a>
            <a class = "discord-link rounded" href="https://discord.gg/3Q2n2Dt" target="_blank"><b>https://discord.gg/3Q2n2Dt</b></a>
          </h2>

          <!-- Mobile text -->
          <h4 class ="text-center m-3 d-sm-block d-md-none" >Thank you for joining Wecasual!</h4>
          <h5 class= "text-center d-sm-block d-md-none">Your team is being created, and we will let you know when it is complete.</h5>
          <h5 class= "text-center d-sm-block d-md-none">
            In the mean time, join the Discord to get to know the community:
            <a class = "discord-link rounded" href="https://discord.gg/3Q2n2Dt" target="_blank">https://discord.gg/3Q2n2Dt</a>
            <a class = "discord-link rounded" href="https://discord.gg/3Q2n2Dt" target="_blank"><b>https://discord.gg/3Q2n2Dt</b></a>
          </h5>


        </div>
      <% } %>
    </div>
  </div>


<%if(!user || !user.paid){%>
	<div class="mt-5 pt-1 container ">
		<!-- Landing page section if not logged in-->
        <!-- Three columns of text below the carousel -->
       <div class="row text-center">
         <h1 class = "mb-5">Wecasual is a Dota 2 community that hosts leagues and other events for fun, casual, and positive Dota 2 players.</h1>
         <div class="col-lg-4">
           <img class="rounded" src="/images/globe-icon.png" alt="Community image" width="140" height="140">
           <h2>Join the community</h2>
           <ul class = "text-left">
             <li>Be a part of the social, inclusive, and casual communtiy!</li>
             <li>We are a <span class="font-weight-bold">toxic-player free</span> environment </li>
             <li>Join solo or join with friends</li>
         </div>
         <div class="col-lg-4">
           <img class="rounded" src="/images/monitor-icon.png" alt="Weekly games image" width="140" height="140">
           <h2>Play weekly games</h2>
           <ul class = "text-left">
             <li>Play weekly <span class="font-weight-bold">organized games</span> against and with the chillest Dota players around. </li>
             <li>We are <span class="font-weight-bold">hassle-free</span>: You will not have to schedule any games, find teammates, or last minute stand-ins. </li>
             <li>Wecasual league games are every <b>Tuesday and Thursday at 9:00 PM EST.</b></li>
           </ul>
         </div>
         <div class="col-lg-4">
           <img class="rounded" src="/images/calendar-icon.png" alt="Extra events image" width="140" height="140">
           <h2>Extra events</h2>
           <ul class = "text-left">
             <li>Play extra games outside your team and meet new people.</li>
             <li><span class="font-weight-bold"> Inhouse games</span></li>
             <li>Custom games</li>
             <li>Mini <span class="font-weight-bold">tournaments</span></li>
         </div><!-- /.col-lg-4 -->
       </div><!-- /.row -->
      <h1 class="mt-5 text-center display-5">Casual Dota 2 Leagues starting October 2017!</h2>
  </div>

  <div class = "grey-text">
    <img class = " mt-5 img-fluid mx-auto d-block" src="/images/logo.png" alt="">
    <h1 class="mt-3 display-5 text-center">eSports for Casual Players </h1>

  </div>
  <% }
  else{ %>
  	<h2 class="pb-4 text-center">
      Games will begin first week of October.
    </h2>
  <% } %>




<% include ../partials/footer.ejs %>
