<% include ../partials/header.ejs %>



<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <% if(!user){ %>
        <div class = "pb-5" style ="color: #fff; text-shadow: #000 0 3px 3px;">
          <h1 class ="display-2 text-center m-3" >Sick of toxic pubs?</h1>
          <h2 class= "text-center d-md-block d-none">A social and inclusive environment for the casual Dota 2 player</h2>
        </div>
        <div class = "pt-5 pb-2 text-center"><a id="join-league" class="btn btn-lg btn-primary" href="auth/steam" role="button">Join Wecasual </a></div>
        <div style ="color: #fff; text-shadow: #000 0 3px 3px;">
            <h2 class= "text-center">$5/month</h2>
        </div>
      <% }
      else{ %>
        <div class = "pb-5" style ="color: #fff; text-shadow: #000 0 3px 3px;">
          <h1 class ="display-2 text-center m-3" >Thank you for signing up for Wecasual!</h1>
          <h2 class= "text-center d-md-block d-none">Unfortunately you caught us during our website creation. We will send you an email when the website is complete.</h2>
        </div>
      <% } %>
    </div>
  </div>



	<div class="mt-5 pt-1 container ">
		<!-- Landing page section if not logged in-->
		<% if(!user){ %>
        <!-- Three columns of text below the carousel -->
       <div class="row text-center">
         <div class="col-lg-4">
           <img class="rounded" src="/images/monitor-icon.png" alt="Weekly games image" width="140" height="140">
           <h2>Play weekly games</h2>
           <p>Join a team or create your own! Play weekly organized games against the chillest Dota players around. No more last pick Invokers.</p>
         </div><!-- /.col-lg-4 -->
         <div class="col-lg-4">
           <img class="rounded" src="/images/globe-icon.png" alt="Community image" width="140" height="140">
           <h2>Join the community</h2>
           <p>Be apart of the social, inclusive, and casual communtiy!</p>
         </div><!-- /.col-lg-4 -->
         <div class="col-lg-4">
           <img class="rounded" src="/images/calendar-icon.png" alt="Extra events image" width="140" height="140">
           <h2>Extra events</h2>
           <p>Play extra games outside your team, and meet new people.</p>
         </div><!-- /.col-lg-4 -->
       </div><!-- /.row -->
      <h1 class="mt-5 text-center display-5">Casual Dota 2 Leagues starting October 2017!</h2>
  </div>

  <div class = "grey-text">
    <img class = " mt-5 img-fluid mx-auto d-block" src="/images/logo.png" alt="">
    <h1 class="mt-3 display-5 text-center">eSports for Casual Players </h1>

  </div>
  <% }
  else{ %>
  	<h2 class="pb-4 text-center font-italic">Games will begin <p class="font-weight-bold" >first week of October</p></h2>
  <% } %>
  <div class="container">
    <footer>
      <hr>
      <p>Contact us at <a href="mailto:info@wecasual.gg">info@wecasual.gg</a> for any inquiries</p>
      <p>Wecasual 2017</p>
    </footer>
  </div>



<% include ../partials/footer.ejs %>
