<% include ../partials/header.ejs %>
<!-- Login: <a href="auth/steam">Sign On with Steam</a>
Logout: <a href='logout'>Logout</a>
Display Info Example: <%= user.displayName %> -->
	<!-- Header nav-->
	<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #555;">
		<a class="navbar-brand" href="#">
			<img src="/images/justRobo_BG.svg" width="42" height="42" alt="">
				Wecasual
		</a>
		<!--bUTTONS
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
			</ul>

			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>


		</div>
		-->
	</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="  background-color: #fff;">

		<div class="text-center">
			<img src="/images/logo.png" width="500" height="350" alt="">
		</div>
  </div>
	<div class="container">
    <h1 class="display-4 text-center">The new standard for playing eSports </h1>
		<h2 class="text-center">Casual Dota 2 Leagues starting October 2017!</h2>

		<div class="mailing-list">
			<p class = "text-center">Join mailing list for updates</p>
			<!-- Email input field-->
			<form method="POST" action="/mailingList/add">
				<div class="form-group col-auto">
					<input type="text" name="email" class="form-control" placeholder='Enter email'>
				</div>
				<div class="form-group text-center">
						<input type="submit" value="Submit" class = "btn btn-default">
				</div>
			</form>
		</div>


    </div>

		<!-- Message for email input correct or not -->
		<div class=alert>
			<% if(typeof error !== 'undefined'){ %>
				<div class="alert-red">
					<%= error %>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
			<% }
			else if(typeof message !== 'undefined'){ %>
				<div class="alert-green">
					<%= message %>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
			<% } %>
		</div>
		<div class="container">
			Contact us at <a href="mailto:info@wecasual.gg">info@wecasual.gg</a> for any inquiries


			<hr>

			<footer>
				<p>Wecasual 2017</p>
			</footer>
		</div> <!-- /container -->







		<!-- Close ALERT code -->
		<script>
			var close = document.getElementsByClassName("closebtn");
			var i;
			for (i = 0; i < close.length; i++) {
			    close[i].onclick = function(){
			        var div = this.parentElement.parentElement;
			        div.style.opacity = "0";
			        setTimeout(function(){ div.style.display = "none"; }, 600);
			    }
			}
		</script>
<% include ../partials/footer.ejs %>
