<% include ../partials/header.ejs %>
  <div class="container top-spacer">
    <div class="card">
      <div class="card-header display-4 text-center">
        League Info
      </div>
      <div class="card-body about-text">
        <h3 class="card-title">General</h3>
          <ul class="card-text">
            <li>Joining Wecasual gives you a team to play weekly games with.</b></li>
            <li>The league is continuous and there are no playoffs or end to a ‘season’.</li>
            <li>Players can <b>join solo or join with friends!</b> If you are solo or need more players to round out your stack,
            don’t worry, we will find you a team or fill in any remaining spots for you.</li>
          </ul>
        <h3 class="card-title">How it works</h3>
          <ul class="card-text">
            <li>During signup, let us know the players you would like to be on a team with.
            <i>We will do our best to keep groups less than a full 5-stack together, but logistically changes may have to be made.</i></li>
            <li>Every Saturday we will put together teams from any new signups, and create the schedule for the week. <b>This means there is no signup deadline!</b></li>
            <li>You will be scheduled to play on 2 days out of the 4 game days.</li>
            <li>The 4 game days are <b>Monday through Thursday at 9:00 PM EST.</b></li>
            <li>Confirm your attendance for that week’s games.</li>
            <li>On your scheduled game day, join your discord, find your lobby and play some Dota!</li>
          </ul>
        <h3 class="card-title">Format</h3>
          <ul class="card-text">
            <li>All Wecasual league games are played in Captain's Mode.</li>
            <li>Because Wecasual focuses on fun and social play players are not expected to have set roles
              (eg. mid, support, etc…). Teams are expected to have players swapping positions.</li>
            <li>The full rules can be found here: <a href="/rules">rules</a></li>
          </ul>
      </div>
    </div>
  </div>
<% include ../partials/footer.ejs %>
