<% include ../partials/header.ejs %>
<div class="container top-spacer">
  <form action="/signup/charge" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key=<%=keyPublishable%>
      data-amount="500"
      data-name="Wecasual"
      data-description="League Signup"
      data-image="/images/justRobo_BG.png"
      data-locale="auto"
      data-currency="usd"
      data-zip-code="true">
    </script>
  </form>
</div>
