<% include ../partials/header.ejs %>
  <div class="container top-spacer">
    <div class="card">
      <div class="card-header display-4 text-center">
        Pick-up Games
      </div>
      <div class="card-body">
        <h4 class="card-title">Pick-up games will be released first week of October!</h4>
        <p class="card-text">Prepare yourself for some fun nights. Custom games, ability draft, inhouse, and more!</p>
      </div>
    </div>
  </div>
<% include ../partials/footer.ejs %>
