<% include ../partials/header.ejs %>
  <div class="container top-spacer">
    <div class="card">
      <div class="card-header display-4 text-center">
        Pick-up Games
      </div>
      <div class="card-body about-text">
        <h3 class="card-title">Info</h3>
          <ul class="card-text">
            <li>All Wecasual members can come out!</li>
            <li>Pick-up games will be posted on a weekly basis.</li>
            <li>Wecasual members are not required to play with their league teams.</li>
          </ul>


        <h4 class="card-title">Pick-up games will be released first week of October!</h4>
        <p class="card-text">Prepare yourself for some fun nights. Custom games, ability draft, inhouse, and more!</p>
      </div>
    </div>
  </div>
<% include ../partials/footer.ejs %>
