<% include ../partials/header.ejs %>
  <div class="container top-spacer">
    <div class="card">
      <div class="card-header display-4 text-center">
        Playing Guide
      </div>
      <div class="card-body about-text">
        <h2 class = "text-center">A step by step guide to playing in any Wecasual game</h2>
        <h5 class = "text-center card-text  mb-4"><i>This guide applies to Wecasual league games AND pick-up games</i></h5>
        <h3 class="card-title">Before the game</h3>
        <ul class="card-text">
          <li>Confirm your <b>attendance 48 hours before</b>. If you do not reply we assume you are unable to make it.</li>
          <h6><i>For league attendance check your <a href="/schedule" target="_blank">schedule</a></i></h6>
          <h6><i>For pick-up game attednace check the <a href="/pick-up-games" target="_blank">page</a></i></h6>
          <li>Show up 15 minutes early and choose an empty <b>Discord hangout room, </b>or find the one that your teammates are already in.</li>
          <li>It does not matter which hangout room you pick, as long as your team and the opposing team are both in it.</li>
        </ul>
        <h3 class="card-title">How to join a game</h3>
        <ul class="card-text">
          <li>5 minutes before game start join your team's private voice channel in Discord.</li>
          <li>In Dota 2 search the custom lobbies for Wecasual.</li>
          <li>You should be able to find a lobby called <b>"Wecasual [team1] vs [team2]"</b> or <b>"Wecasual pick-up [gamemode]"</b></li>
          <li>Join the lobby with the <b>password wecasual2017</b></li>
          <li>Have your team join either Dire or Radiant (it does not matter, as it will automatically switch you after the coin toss).</li>
          <li>First Pick/Side pick will be determined by an automatic coin toss (it is a system built into Dota).</li>
          <li>Make sure you have a <b>team name set</b> because the automatic coin toss will not work without one.</li>
          <li>Wait for the lobby host to start the coin toss, and follow the instructions.</li>
        </ul>
        <h3 class="card-title">During the game</h3>
        <ul class="card-text">
          <li>No team has a designated captain or drafter, so have fun with it and switch it up every game.</li>
          <li>There is <b>no limit to pausing</b> in game, but be reasonable. Only pause for technical issues or bathroom breaks.</li>
          <li><b>DO NOT</b> call false/early gg's.</li>
          <li>All chat is permitted provided that it is <b>ALWAYS POSITIVE</b> no matter the circumstance.</li>
          <li>Please submit a player report for any false gg calls or excessive pauses.</li>
          <li>Email <a href="mailto:robert@wecasual.gg">robert@wecasual.gg</a> or send Robert a message on Discord</li>
        </ul>
        <h3 class="card-title">After the game</h3>
        <ul class="card-text">
          <li>Head back to you hangout Discord channel, and chill!</li>
          <li>We encourage you to stick around, discuss the game, and have fun!</li>
        </ul>
        <h5 class = "text-center card-text  mb-4"><i>For more details, please see the <a href="/rules" target="_blank">rules</a></i></h5>
      </div>
    </div>

      </div>
    </div>
  </div>
<% include ../partials/footer.ejs %>
