<% include ../partials/header.ejs %>
  <div class="container top-spacer">
    <div class="card">
      <div class="card-header display-4 text-center">
        Rules
      </div>
      <div class="card-body">
        <h4 class="card-title">The spirit of real life recreational sport leagues brought to eSports</h4>
        <p class="card-text">Wecasual is an eSports community that hosts leagues and other events for casual eSport players.</p>
        <h4 class="card-title">Future expansion</h4>
        <p class="card-text">Currently Wecasual only has a community and leagues for Dota 2, but Wecasual plans on expanding to other major eSports in the near future!</p>
      </div>
    </div>
  </div>
<% include ../partials/footer.ejs %>
