<% include ../partials/header.ejs %>
  <div class="container top-spacer">
    <div class="card">
      <div class="card-header display-4 text-center">
        Rules
      </div>
      <div class="card-body">
        <h4 class="card-title">Rules will be released first week of October! </h4>
      </div>
    </div>
  </div>
<% include ../partials/footer.ejs %>
