<% include ../partials/header.ejs %>
  <div class="container top-spacer">
    <div class="card">
      <div class="card-header display-4 text-center">
        Schedule
      </div>
      <div class="card-body">
        <h4 class="card-title">Wecasual league games are Monday through Thursday at 9:00 PM EST. Starting October 10th</h4>
        <h4 class="card-title">Each team will play 2 games a week</h4>
        <!-- <hr>
        <h4 class="card-title">Wecasual pick-up games schedule will be released first week of October.</h4> -->
      </div>
    </div>
  </div>
<% include ../partials/footer.ejs %>
