<% include ../partials/header.ejs %>
<div class="container">
	<!-- Intro section -->
	<h1 class = "my-3 text-center">Hello,
		<span class="mr-3"><%= user.steamInfo.displayName %></span>
		<img class="rounded-circle" src= <%= user.steamInfo._json.avatarmedium %> >
	</h1>

	<!-- Email section -->
	<div class="m-3 row justify-content-center">
		<div class = "text-center col col-5">Please enter your email to complete the signup process.</div>
	</div>
	<div class="row justify-content-center">
		<!-- Email input field-->
		<div class="text-center col col-5">
			<form method="POST" action="/mailingList/add">
				<div class="form-group ">
					<input type="text" name="email" class="form-control" placeholder='Enter email'>
				</div>
				<div class="form-group text-center">
						<input type="submit" value="Submit" class = "btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>


	<!-- Message for email input correct or not -->
	<div class=alert>
		<% if(error){ %>
			<div class="alert-red">
				<%= error %>
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			</div>
		<% }
		else if(message){ %>
			<div class="alert-green">
				<%= message %>
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			</div>
		<% } %>
	</div>

	<!-- Close ALERT code -->
	<script>
		var close = document.getElementsByClassName("closebtn");
		var i;
		for (i = 0; i < close.length; i++) {
				close[i].onclick = function(){
						var div = this.parentElement.parentElement;
						div.style.opacity = "0";
						setTimeout(function(){ div.style.display = "none"; }, 600);
				}
		}
	</script>


<% include ../partials/footer.ejs %>
