<!-- PLAYING GUIDE -->
<div class="card rounded my-3">
  <ul class="list-group list-group-flush mt-0">
    <li class="list-group-item p-0  text-center mt-0">

      <div class="text-left card-body">

          <h3 class="card-title text-center">Before the Game</h3>
          <hr>
          <ul class="card-text ">
            <li>Join the discord 15 minutes early</li>
            <li>Join the <b>Hangout</b> voice channel (ex. The Hoven)</li>

          </ul>
          <h3 class="card-title mt-4 text-center">How to join a game</h3>
          <hr>
          <ul class="card-text">
            <li>Search <b>custom lobbies</b> for Wecasual</li>
            <li>Join lobby <b>"Wecasual [Your Discord Room Name]"</b> (ex. Wecasual The Hoven)</li>
            <li>Lobby password: <b>wecasual2017</b></li>
          </ul>

          <h3 class = "text-center my-2">OR</h3>

          <div class="rounded my-3">
            <ul class="list-group list-group-flush mt-0">
              <li class="list-group-item p-0  text-center mt-0">
                <a class="m-3 pink-btn btn btn-primary mb-2 dropdown" href="#readBeforePlaying" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
                  <h5 class = "mb-0">Join the Dota Channel<span class="down-caret"></span></h5>
                </a>

                <div class="text-left collapse card-body p-1" id="readBeforePlaying">
                  <hr>
                    <h4 class="card-title">In Dota, click the “CHANNELS” button.</h4>
                    <img class = "img-fluid" src="/images/text-channel-guide-box.png" alt="Click Channels image">
                    <h4 class="card-title mt-2">Click on the “USER” tab</h4>
                    <h4 class="card-title mt-2">Search for Wecasual and click Join(It should show up)</h4>
                    <img class = "img-fluid" src="/images/text-channel-guide-search.png" alt="Search channels image">
                </div>
              </li>
            </ul>
          </div>



          <h3 class="card-title mt-4 text-center">During the game</h3>
          <hr>
          <ul class="card-text ">
            <li>Only pause for technical issues or bathroom breaks</li>
            <li><b>DO NOT</b> call false/early gg's</li>
            <li>All chat must <b>ALWAYS BE POSITIVE</b></li>
            <li>Report a player for any false gg calls or excessive pauses<a href="/contact" target="_blank"> here</a></li>
          </ul>

          <h3 class="card-title mt-4 text-center">After the game</h3>
          <hr>
          <ul class="card-text ">
            <li>Head back to the <b>Hangout</b> and chill!</li>
            <li>We encourage you to stick around, discuss the game, and have fun!</li>
          </ul>
          <hr>
          <div class = "card-text  mb-1 pl-2"><i>For more details, please see the <a href="/how-to-wecasual?general-rules" target="_blank">rules</a></i></div>
      </div>
    </li>
  </ul>
</div>
