<% include ../partials/header.ejs %>



<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <div class = "pb-5" style ="color: #fff; text-shadow: #000 0 3px 3px;">
          <h1 class ="display-2 text-center m-3 d-none d-md-block" >Thank you for joining Wecasual!</h1>
          <h2 class= "text-center d-md-block d-none">Your team is being put together for next week. This upcoming Saturday we will let you know your team and schedule via email.</h2>
          <h2 class= "text-center d-md-block d-none">
            In the meantime, join the Discord to get to know the community:
            <a class = "discord-link rounded" href="https://discord.gg/3Q2n2Dt" target="_blank"><b>https://discord.gg/3Q2n2Dt</b></a>
          </h2>

          <!-- Mobile text -->
          <h4 class ="text-center m-3 d-sm-block d-md-none" >Thank you for joining Wecasual!</h4>
          <h5 class= "text-center d-sm-block d-md-none">Your team is being put together for next week. This upcoming Saturday we will let you know your team and schedule via email.</h5>
          <h5 class= "text-center d-sm-block d-md-none">
            In the meantime, join the Discord to get to know the community:
            <a class = "discord-link rounded" href="https://discord.gg/3Q2n2Dt" target="_blank"><b>https://discord.gg/3Q2n2Dt</b></a>
          </h5>
        </div>
    </div>
  </div>
<% include ../partials/footer.ejs %>
