<% include partials/header.ejs %>
  <h1>Wecasual Admin Page</h1>
  <a href="/admin/teams">Team Management</a>
  <br>
  <a href="/admin/profiles">Profile Management</a>
  <br>
  <a href="/admin/schedule">Schedule Management</a>
<% include partials/footer.ejs %>
