<% include partials/header.ejs %>
  <h1>Create Team</h1>
  <div class="card-body pre-scrollable">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th></th>
          <th>Username</th>
          <th>Skill Level</th>
          <th>Player Requests</th>
        </tr>
      </thead>
      <tbody id="player-list">
      </tbody>
    </table>
  </div>
    <h2>Team (Click to remove)</h2>
    <div id="roster" style="border-style: solid; border-color: #d1d1d1; border-width: 1px">
    </div>
  </div>
  <div>
    <button type="button" style="margin-top: 10px; margin-bottom: 10px" id="create-team">Create team</button>
  </div>
  <a href="/admin/teams">Back</a>
  <script src="../../scripts/create-team-form.js"></script>
<% include partials/footer.ejs %>
