<% include partials/header.ejs %>
  <h1>Teams Admin Page</h1>
  <div class="card-body pre-scrollable">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Team Name (ID)</th>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Player 3</th>
          <th>Player 4</th>
          <th>Player 5</th>
        </tr>
      </thead>
      <tbody id="team-list">
      </tbody>
    </table>
  </div>
  <a href="/admin/teams/create">Create a new team</a>
  <br>
  <a href="/admin">Back</a>
  <script src="../../scripts/teams.js"></script>
<% include partials/footer.ejs %>
